/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #2563eb, #1e40af);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CENTER CONTAINER */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.login-card {
  background: white;
  padding: 35px 30px;
  border-radius: 14px;
  width: 320px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  text-align: center;
}

/* TITLE */
.login-card h2 {
  margin-bottom: 5px;
}

.sub {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 20px;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
}

input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
  outline: none;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1d4ed8;
}

/* MESSAGE */
#msg {
  margin-top: 10px;
  font-size: 13px;
}
